html {
    box-sizing: border-box;
}

:root {
    --width-product: 330px;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.slider img {
    display: block;
    max-width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1;
}


#menu-container {
    /* position: fixed; */
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 1% 0;
    box-shadow: 0 0 1px black;
}

#menu-container .left-menu {
    cursor: pointer;
}

.right-menu {
    display: flex;
}

.right-menu div.item {
    margin-left: 20px;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(100, 100, 111, 0.1);
    border-radius: 10px;
}

.right-menu div.item:hover {
    background-color: rgba(100, 100, 111, 0.2);
}

#content-container {
    padding: auto 15px auto 15px;
}

.slider {
    max-width: auto;
    margin: 15px auto 25px auto;
    position: relative;
    width: 80%;
}

.slider-next,
.slider-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
}

.slider-next {
    right: -25px;
}

.slider-prev {
    left: -25px;
}

.slider-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 10;
}

.slider-dots li {
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: #999;
    cursor: pointer;
    transition: background-color 0.25s linear;
}

.slider-dots li.active {
    background-color: white;
}

.slider-wrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slider-main {
    display: flex;
    position: relative;
    transition: transform 0.4s linear;
    height: 100%;
}

.slider-item {
    height: 100%;
    width: 100%;
    flex: 1 0 100%;
    user-select: none;
}

.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.title-product {
    text-align: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    width: var(--width-product);
}

.product-item img {
    width: var(--width-product);
}

.product-item h3 {
    height: 40px;
    text-align: center;
}

.shopCart-wrapper {
    text-align: center;
}

.btn-shopCart {
    width: auto;
    padding: 10px;
}

footer {
    margin-top: 50px;
    background-color: #222222;
    color: white;

}

.footer-item {
    display: flex;
}

footer ul {
    padding-top: 1%;
    padding-left: 10%;
    list-style: none;
}

footer ul li {
    margin: 20px;
}