* {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
}

#Menu {
    /* position: absolute; */
    /* width: 80%; */
    height: 5%;
    left: 10%;
    /* border-radius: 0 0 20px 20px; */

    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: black;

    font-size: 24px;
    font-family: monospace;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Menu div {
    display: inline-block;
}

#Menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
}

#Menu a:hover {
    background-color: rgb(78, 76, 76);
    color: rgb(163, 128, 128);
    border-radius: 40%;
}

.Home {
    margin-right: 20%;
}

#content {
    position: absolute;
    top: 10%;
    cursor: pointer;
}

.bar-1,
.bar-2,
.bar-3 {
    width: 35px;
    height: 5px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
}

.change.bar-1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change.bar-2 {
    opacity: 0;
}

.change.bar-3 {
    transform: translate(0, -11px) rotate(45deg);
}