* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

/* root color background-color: #111111; */
:root {
    --body-color: #111111;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--body-color);
}

a {
    text-decoration: none;
}

body>.container-body {
    width: auto;
    overflow-x: hidden;
}

header #menu {
    position: relative;
    height: 6%;
    background-color: #2A2A2A;
    mix-blend-mode: normal;
    border: 1px solid #050505;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header #menu {
    height: 100%;
    display: flex;
    /* justify-content: space-around; */
    font-size: 22px;
    width: 100%;
}

header #menu #left-menu {
    margin-left: 10%;
    position: relative;
}

header #menu #right-menu {
    position: relative;

    margin: auto 10% auto auto;
}

/* #menu #home {
    height: 100%;
} */

#left-menu {
    display: flex;
    /* position: relative; */
}

header {
    color: white;
}

#left-menu div {
    margin: auto 0 !important;
    padding: 0 10px;
}


#left-menu .hmenu .hmenu-icon {
    padding-top: 25%;
}

header .hmenu {
    height: 70%;
    max-width: 200px;
    top: 25%;
    left: 50px;
    height: 51px;
    cursor: pointer;
}

header .hmenu>ul {
    position: absolute;
    list-style: none;
    display: none;
    min-width: 200px;
    margin-top: 1% !important;
}

header .hmenu>ul li a {
    display: block;
    line-height: 40px;
    padding: 0 10px;
    position: relative;
    z-index: 2000;
    background-color: #333333a1;
    min-width: 100px;
}

.main-menu-container {
    display: flex;
}


header .hmenu:hover>ul {
    display: block;
    /*margin-top: 1% !important;*/
}

header .hmenu ul a:hover {
    background-color: #5554549f;
}

/* #left-menu div.sub-menu {
    width: 55px;
    padding-top: 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

}

#left-menu div.sub-menu li {
    list-style: none;
}

#left-menu div.sub-menu a {
    margin-left: -20px;
    display: none;
    position: absolute;
    z-index: 1000;
    width: 120px;
    height: 40px;
}

#left-menu div.sub-menu:hover a,
.sub-menu:hover {
    display: block;
    background-color: #333333;
} */


#menu img#logo {
    position: relative;
    height: 80%;
    width: 50px;
    border-radius: 15px;
    margin: 10% 0;
}

#right-menu {
    margin: auto 0;
}

#menu a {
    /* text-decoration: none; */
    color: white;
}

#menu a.Truyen {
    margin: 0 10px;
}

#menu a.Favorite-LN i {
    margin: 0 20px;
    color: red;
    height: 24.8px;
    width: 24.8px;
}

#SignIn_Register {
    margin: 0;
}

/* responsive */
.responsive {
    display: none;
}

@media screen and (max-width: 854px) {}

@media screen and (max-width: 520px) {
    .non-responsive {
        display: none;
    }

    .responsive {
        display: block;
    }

    #right-menu {
        display: flex;
    }

    header .hmenu {
        margin-left: 25%;
    }

    .hmenu-icon {
        margin-top: 10px;
    }

    .non-responsive {
        display: none;
    }


    header ul {
        left: 0;
        width: 100%;
    }

    li {
        text-align: center;
    }



    .hmenu-icon {
        margin-top: 10px;
    }

    .non-responsive {
        display: none;
    }


    header ul {
        left: 0;
        width: 100%;
    }

    header ul li {
        text-align: center;
    }

    .responsive {
        display: block;
    }

    #right-menu {
        display: flex;
    }

    #right-menu div {
        line-height: 50px;
    }

    header .hmenu>ul li a {
        line-height: 40px;
    }

    header .hmenu>ul {
        min-width: 120px;
        font-size: 14px;
        margin-top: 1% !important;
        /* right: -40px; */
    }

    div.hmenu .hmenu-icon {
        padding-top: 0.8px;
    }
}

@media screen and (max-width: 415px) {
    .non-responsive {
        display: none;
    }

    .responsive {
        display: block;
    }

    #right-menu {
        display: flex;
    }

    header .hmenu {
        margin-left: 20%;
    }

    .hmenu-icon {
        margin-top: 10px;
    }

    .non-responsive {
        display: none;
    }


    header ul {
        left: 0;
        width: 100%;
    }

    li {
        text-align: center;
    }


}

/* #left-menu div.sub-menu {
    width: 55px;
    padding-top: 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

}

#left-menu div.sub-menu li {
    list-style: none;
}

#left-menu div.sub-menu a {
    margin-left: -20px;
    display: none;
    position: absolute;
    z-index: 1000;
    width: 120px;
    height: 40px;
}

#left-menu div.sub-menu:hover a,
.sub-menu:hover {
    display: block;
    background-color: #333333;
} */

footer {
    min-height: 10%;
    background-color: #333333;
    color: white;
    text-align: center;
}

footer ul.footer-container {
    margin: 0 !important;
    height: 100%;
    list-style: none;
    padding: 10px;
}

ul.footer-container li h3 {
    margin: 0 !important;
}

footer a {
    color: #5fff46;
}