/* rows-1 */
.flex-container {
    display: flex;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clearfix::before {
    content: "";
    clear: both;
    display: table;
}

.flex-item {
    width: 40%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    /* background-color: red; */
    height: 500px;
    text-align: center;
}

.product-thumb {
    height: 400px;
    width: 100%;
}


.slider-container {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img-slider {
    width: 40px;
    height: 40px;
    margin: 0 5px 0 5px;
}

.prev-button,
.next-button {
    /* position: absolute; */
    width: 20px;
    height: 20px;
}

.rows-1.grid-box.right-side {
    display: grid;
    grid-template-rows: 50% 50px 40px 50px;
}

.grid-box>div {
    width: 80%;
}

.grid-box .details .title {
    margin-bottom: 20px;
}

.quantity>button {
    width: 20px;
    border: none;
    box-shadow: 0 0 0 0.1px black;
}

.quantity input {
    width: 20px;
    text-align: center;
    border: none
}

.quantity input:focus {
    border: solid 1px;
}

.shopping-button button {
    height: 100%;
    border-radius: 30px;
}

.addCart {
    width: 40%;
    color: orange;
    background-color: white;
    border: solid 0.5px black;
}

.buy-now {
    width: 40%;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 166, 0);
    border: solid 0.5px black;
}


.product-details {
    padding: 0 10%;
}

.product-details .title {
    margin: 10px;
    font-size: 32px;
}

.detail-container>div {
    margin-top: 10px;
    line-height: 20px;
}

.detail-container:nth-child(even) div.media-box {
    clear: both;
    float: left;
    width: 50%;
    margin-right: 10px;
}

.detail-container:nth-child(even) .text-box {
    /* float: right;
    margin-left: 1%;
    width: 49%; */
    text-align: justify;
}

div.media-box img {
    width: 100%;
}

.detail-container:nth-child(odd) .text-box {
    /* float: left; */
    /* width: 49%; */
    text-align: justify;
}

.detail-container:nth-child(odd) div.media-box {
    clear: both;
    float: right;
    width: 50%;
    margin-left: 10px;
}

.text-box p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* margin: 15px 0; */
}